body {
  background-color: #C1E1C1;
}

main {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form {
  max-width: 400px;
  width: 100%;
}

#filter {
  max-width: 300px;
}